<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>lightblue Migrator</display-name>

  <servlet>
    <servlet-name>TogglzConsoleServlet</servlet-name>
    <servlet-class>org.togglz.console.TogglzConsoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TogglzConsoleServlet</servlet-name>
    <url-pattern>/config/*</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>org.togglz.core.manager.TogglzConfig</param-name>
    <param-value>com.redhat.lightblue.migrator.LightblueMigrationConfiguration</param-value>
  </context-param>

</web-app>
